.greeting
  background: url(../img/greeting-bg.jpg) no-repeat
  background-position: center
  background-size: cover

.greeting__header
  width: 100%
  background-color: $white
  box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19)

.greeting__header-logoLink
  height: inherit
  padding: 0
  font-size: inherit
  line-height: inherit
  margin: 11px 155px 0 0

.navbar-collapse
  padding: 0

.greeting__header-menu
  margin-top: 35px
  margin-right: 87px

.navbar-nav>li>a, .nav>li>a
  padding: 0 16px
  line-height: inherit

  &:hover
    background: none


.greeting__header-menuItem-link
  font-size: 0.938rem
  color: $black4
  letter-spacing: -0.35px

.greeting__header-info
  display: inline-block
  float: left
  margin-top: 29px
  //margin-right: 23px

.greeting__header-infoIconPhone
  margin-right: 9px
  position: relative
  top: -3px

.greeting__header-infoNumber
  display: inline-block
  font-size: 1.125rem
  color: $grey9
  font-weight: 500
  margin-bottom: 8px
  letter-spacing: 0.5px

.greeting__header-infoText
  font-size: 0.563rem
  color: $grey2
  text-transform: uppercase
  text-align: center
  letter-spacing: 1.67px
  margin-left: 25px

.greeting__header-entrance
  display: inline-block
  float: right
  border-left: 1px solid $darkWhite
  //border-right: 1px solid $darkWhite
  padding: 28px 13px 28px 25px

.greeting__header-entranceIconLogin
  border: 2px solid $black
  border-radius: 100%
  padding: 5px
  position: relative
  top: -2px
  margin-right: 5px

  &:before
    position: relative
    top: -2px

%btn-default
  border: none
  outline: none
  background: none
  padding: 0
  //vertical-align: middle

.greeting__header-entranceButton
  @extend %btn-default
  font-size: 1rem
  color: $grey9
  margin-top: 7px

.greeting__header-entranceButton-iconEnter
  margin-left: 4px
  position: relative
  top: -3px

.greeting__presentation
  text-align: center

.greeting__presentationText
  display: inline-block
  margin-top: 156px
  margin-bottom: 26px
  text-transform: uppercase
  font-size: 1rem
  font-weight: 900
  color: $yellow
  letter-spacing: 3.64px

.greeting__presentationHeading
  text-transform: uppercase
  font-size: 4.688rem
  color: $white
  font-weight: 900
  letter-spacing: 17.55px
  margin-bottom: 71px

.greeting__form
  text-align: center

.greeting__formHeading
  font-size: 1.25rem
  color: $white
  letter-spacing: -0.31px
  margin-bottom: 43px

// Include _header__searchForm.sass
@import "header__searchForm"

.greeting__socials
  position: absolute
  right: 0
  margin-right: 20px
  top: 305px

  .wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 32px
    height: 32px
    border: 1px solid $white
    border-radius: 100%
    margin-bottom: 12px

// Include _header__services.sass
@import "header__services"