.searchForm
  display: inline-block
  text-align: initial
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15)

.searchForm__inputCityDeparture
  float: left
  background: $white
  border-radius: 5px 0 0 5px
  padding: 10px 18px 14px 16px

.searchForm__inputCityDeparture-text
  font-size: 0.813rem
  color: $grey4
  font-weight: 300
  margin-bottom: 11px

.searchForm__inputCityDeparture-inputText
  width: 158px
  height: 13px
  font-size: 1rem
  color: $black
  border: none
  outline: none

  &::-webkit-input-placeholder
    color: $grey9
  &::-moz-placeholder
    color: $grey9

  &:-moz-placeholder
    color: $grey9

  &:-ms-input-placeholder
    color: $grey9

.searchForm__inputCityDeparture-iconArrow
  float: right

.searchForm__inputCityArrive
  @extend .searchForm__inputCityDeparture
  border-radius: 0
  padding-right: 20px
  padding-left: 11px

.searchForm__inputCityArrive-text
  @extend .searchForm__inputCityDeparture-text

.searchForm__inputCityArrive-inputText
  @extend .searchForm__inputCityDeparture-inputText
  width: 207px

.searchForm__inputCityArrive-iconReset
  @extend .searchForm__inputCityDeparture-iconReset
  position: relative
  top: -3px

.searchForm__inputDate
  @extend .searchForm__inputCityArrive
  padding-right: 11px
  border-left: 1px solid $superDarkWhite
  border-right: 1px solid $superDarkWhite

  .wrap_there
    float: left

  .wrap_back
    float: left

.searchForm__inputDate-text
  @extend .searchForm__inputCityDeparture-text

.searchForm__inputDate-inputDay
  @extend .searchForm__inputCityDeparture-inputText
  width: 92px

.searchForm__inputDate-iconArrow
  @extend .searchForm__inputCityDeparture-iconArrow
  margin-right: 19px

.searchForm__inputDate-iconCalendar
  float: right

.searchForm__inputQuantity
  @extend .searchForm__inputCityArrive
  padding-right: 10px
  padding-bottom: 9px

.searchForm__inputQuantity-text
  @extend .searchForm__inputCityDeparture-text

.searchForm__inputQuantity-iconPerson
  position: relative
  top: -2px
  margin-right: 3px

.searchForm__inputQuantity-inputNumber
  width: 151px
  font-size: 0.938rem
  color: $grey9
  border: none
  outline: none

.searchForm__buttonFind
  @extend %btn-default
  background: $yellow
  border-radius: 0 5px 5px 0
  padding: 25px 27px 25px 38px

.searchForm__buttonFind-text
  font-size: 0.813rem
  color: $white
  text-transform: uppercase
  font-weight: 700
  margin-right: 17px
  letter-spacing: 1.32px

.icon.searchForm__buttonFind-iconEnter
  float: right
  margin-top: 3px