form.searchForm
  .searchForm__inputCityDeparture
    label.searchForm__inputCityDeparture-text(for='inputCity1') Город отправления
    br
    input.searchForm__inputCityDeparture-inputText(type='text', placeholder='Омск', id='inputCity1', required)
    i.fa.fa-long-arrow-right.hidden-xs(aria-hidden='true')
    button.searchForm__inputCityDeparture-buttonReset.visible-xs(type='button')
      i.fa.fa-times(aria-hidden='true')
  // /.searchForm__inputCityDeparture
  br.visible-xs
  .searchForm__inputCityArrive
    label.searchForm__inputCityArrive-text(for='inputCity2') Город назначения
    br
    input.searchForm__inputCityArrive-inputText(type='text', placeholder='Москва', id='inputCity2', required)
    button.searchForm__inputCityArrive-buttonReset(type='button')
      i.fa.fa-times(aria-hidden='true')
  // /.searchForm__inputCityArrive
  br.visible-sm.visible-xs
  .searchForm__inputDate
    .wrap_there
      label.searchForm__inputDate-text(for='there') Туда
      br
      input.searchForm__inputDate-inputDay(type='text', placeholder='06.03.2017', id='there', required)
      i.fa.fa-long-arrow-right._second
    // /.wrap_there
    .wrap_back
      label.searchForm__inputDate-text(for='back') Обратно
      br
      input.searchForm__inputDate-inputDay(type='text', placeholder='14.03.2017', id='back', required)
      span.icon.searchForm__inputDate-iconCalendar
    // /.wrap_back
  // /.searchForm__inputDate
  br.visible-xs
  .searchForm__inputQuantity
    label.searchForm__inputQuantity-text Сотрудников
    br
    i.fa.fa-male(aria-hidden='true')
    select.searchForm__inputQuantity-inputNumber(required)
      option.searchForm__inputQuantity-inputNumber-item 1
      option.searchForm__inputQuantity-inputNumber-item(selected) 2
      option.searchForm__inputQuantity-inputNumber-item 3
      option.searchForm__inputQuantity-inputNumber-item 4
      option.searchForm__inputQuantity-inputNumber-item 5
    // /.searchForm__inputQuantity-inputNumber
  // /.searchForm__inputQuantity
  br.visible-md.visible-sm.visible-xs
  button.searchForm__buttonFind(type='submit')
    span.searchForm__buttonFind-text Подобрать
    span.searchForm__buttonFind-text.visible-sm.visible-xs Варианты
    i.fa.fa-chevron-right(aria-hidden='true')
  // /.searchForm__buttonFind
// /.searchForm