.services
  .services__item
    span.icon.services__item-iconTicket
    p.services__item-text Авиа/жд&nbsp;билеты
  .services__item
    span.icon.services__item-iconResidence
    p.services__item-text Проживание
  .services__item
    span.icon.services__item-iconTransfer
    p.services__item-text Трансфер
  .services__item
    span.icon.services__item-iconInsurance
    p.services__item-text Страхование
  .services__item
    span.icon.services__item-iconReport
    p.services__item-text Отчетная документация
// /.services