.greeting__services
  .greeting__services-item
    span.icon.greeting__services-itemIconTicket
    p.greeting__services-itemText Авиа/жд&nbsp;билеты
  .greeting__services-item
    span.icon.greeting__services-itemIconResidence
    p.greeting__services-itemText Проживание
  .greeting__services-item
    span.icon.greeting__services-itemIconTransfer
    p.greeting__services-itemText Трансфер
  .greeting__services-item
    span.icon.greeting__services-itemIconInsurance
    p.greeting__services-itemText Страхование
  .greeting__services-item
    span.icon.greeting__services-itemIconReport
    p.greeting__services-itemText Отчетная документация
// /.greeting__services