.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/svg-sprite.svg");
    background-repeat: no-repeat;
    background-size: 21.4em 161.2em;
}

.no-svg .icon:before {
    background-image: url("../img/svg-sprite.png");
}



  .icon.benefits__item-iconBooking:before {
      background-position: -0.2em -0.2em;
      width: 9.6em;
      height: 10.5em;
  }




  .icon.benefits__item-iconBudget:before {
      background-position: -0.2em -11.1em;
      width: 9.9em;
      height: 10.7em;
  }




  .icon.benefits__item-iconInsurance:before {
      background-position: -0.2em -22.2em;
      width: 10.2em;
      height: 11em;
  }




  .icon.benefits__item-iconOnline:before {
      background-position: -0.2em -33.6em;
      width: 9.6em;
      height: 10.5em;
  }




  .icon.benefits__item-iconProgram:before {
      background-position: -0.2em -44.5em;
      width: 9.6em;
      height: 10.3em;
  }




  .icon.benefits__item-iconSupport:before {
      background-position: -0.2em -55.2em;
      width: 9.9em;
      height: 10.7em;
  }




  .icon.cooperation__item-iconDescription:before {
      background-position: -0.2em -66.3em;
      width: 10.1em;
      height: 11.1em;
  }




  .icon.cooperation__item-iconProfit:before {
      background-position: -0.2em -77.8em;
      width: 10.1em;
      height: 11.1em;
  }




  .icon.cooperation__item-iconRegistration:before {
      background-position: -0.2em -89.3em;
      width: 9.8em;
      height: 10.9em;
  }




  .icon.cooperation__item-iconStar:before {
      background-position: -0.2em -100.60000000000001em;
      width: 10.1em;
      height: 11.1em;
  }




  .icon.eventually__list-mark:before {
      background-position: -0.2em -112.10000000000001em;
      width: 2em;
      height: 2em;
  }




  .icon.footerBottom__socials-iconFacebook:before {
      background-position: -0.2em -114.5em;
      width: 0.9em;
      height: 1.6em;
  }




  .icon.footerBottom__socials-iconGooglePlus:before {
      background-position: -0.2em -116.5em;
      width: 2.1em;
      height: 1.2em;
  }




  .icon.footerBottom__socials-iconInstagram:before {
      background-position: -0.2em -118.10000000000001em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.footerBottom__socials-iconTwitter:before {
      background-position: -0.2em -120.10000000000001em;
      width: 1.6em;
      height: 1.3em;
  }




  .icon.greeting__header-entranceButton-iconEnter:before {
      background-position: -0.2em -121.8em;
      width: 1.3em;
      height: 0.7em;
  }




  .icon.greeting__header-entranceIconLogin:before {
      background-position: -0.2em -122.9em;
      width: 1.3em;
      height: 1.3em;
  }




  .icon.greeting__header-infoIconPhone:before {
      background-position: -0.2em -124.60000000000001em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.greeting__header-logoLink-icon:before {
      background-position: -0.2em -126.2em;
      width: 21em;
      height: 5.7em;
  }




  .icon.greeting__services-itemIconInsurance:before {
      background-position: -0.2em -132.29999999999998em;
      width: 1.8em;
      height: 2.1em;
  }




  .icon.greeting__services-itemIconReport:before {
      background-position: -0.2em -134.79999999999998em;
      width: 1.5em;
      height: 1.9em;
  }




  .icon.greeting__services-itemIconResidence:before {
      background-position: -0.2em -137.1em;
      width: 2.2em;
      height: 2.1em;
  }




  .icon.greeting__services-itemIconTicket:before {
      background-position: -0.2em -139.6em;
      width: 2.7em;
      height: 2.5em;
  }




  .icon.greeting__services-itemIconTransfer:before {
      background-position: -0.2em -142.5em;
      width: 2.3em;
      height: 1.8em;
  }




  .icon.greeting__socials-iconFacebook:before {
      background-position: -0.2em -144.7em;
      width: 0.8em;
      height: 1.4em;
  }




  .icon.greeting__socials-iconGooglePlus:before {
      background-position: -0.2em -146.5em;
      width: 1.7em;
      height: 1em;
  }




  .icon.greeting__socials-iconInstagram:before {
      background-position: -0.2em -147.89999999999998em;
      width: 1.4em;
      height: 1.4em;
  }




  .icon.greeting__socials-iconTwitter:before {
      background-position: -0.2em -149.7em;
      width: 1.4em;
      height: 1.1em;
  }




  .icon.searchForm__buttonFind-iconEnter:before {
      background-position: -0.2em -151.2em;
      width: 0.7em;
      height: 1.1em;
  }




  .icon.searchForm__inputCityDeparture-iconArrow:before {
      background-position: -0.2em -152.7em;
      width: 2.2em;
      height: 1.5em;
  }




  .icon.searchForm__inputCityDeparture-iconReset:before {
      background-position: -0.2em -154.6em;
      width: 1em;
      height: 1em;
  }




  .icon.searchForm__inputDate-iconCalendar:before {
      background-position: -0.2em -156em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.searchForm__inputQuantity-iconDown:before {
      background-position: -0.2em -158em;
      width: 1.4em;
      height: 0.8em;
  }




  .icon.searchForm__inputQuantity-iconPerson:before {
      background-position: -0.2em -159.2em;
      width: 0.8em;
      height: 1.8em;
  }





