@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

body {
  font-family: 'Roboto', sans-serif; }

.greeting {
  background: url(../img/greeting-bg.jpg) no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.greeting__header {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19);
          box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19); }

.greeting__header-logoLink {
  height: inherit;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  margin: 11px 155px 0 0; }

.navbar-collapse {
  padding: 0; }

.greeting__header-menu {
  margin-top: 35px;
  margin-right: 87px; }

.navbar-nav > li > a, .nav > li > a {
  padding: 0 16px;
  line-height: inherit; }

.greeting__header-menuItem-link {
  font-size: 0.938rem;
  color: #1f1a17;
  letter-spacing: -0.35px; }

.greeting__header-info {
  display: inline-block;
  float: left;
  margin-top: 29px; }

.greeting__header-infoIconPhone {
  margin-right: 9px;
  position: relative;
  top: -3px; }

.greeting__header-infoNumber {
  display: inline-block;
  font-size: 1.125rem;
  color: #2c2c2c;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 0.5px; }

.greeting__header-infoText {
  font-size: 0.563rem;
  color: #a1a1a1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.67px;
  margin-left: 25px; }

.greeting__header-entrance {
  display: inline-block;
  float: right;
  border-left: 1px solid #ebebeb;
  padding: 28px 13px 28px 25px; }

.greeting__header-entranceIconLogin {
  border: 2px solid black;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  padding: 5px;
  position: relative;
  top: -2px;
  margin-right: 5px; }
  .greeting__header-entranceIconLogin:before {
    position: relative;
    top: -2px; }

.greeting__header-entranceButton, .searchForm__buttonFind {
  border: none;
  outline: none;
  background: none;
  padding: 0; }

.greeting__header-entranceButton {
  font-size: 1rem;
  color: #2c2c2c;
  margin-top: 7px; }

.greeting__header-entranceButton-iconEnter {
  margin-left: 4px;
  position: relative;
  top: -3px; }

.greeting__presentation {
  text-align: center; }

.greeting__presentationText {
  display: inline-block;
  margin-top: 156px;
  margin-bottom: 26px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  color: #ffc816;
  letter-spacing: 3.64px; }

.greeting__presentationHeading {
  text-transform: uppercase;
  font-size: 4.688rem;
  color: white;
  font-weight: 900;
  letter-spacing: 17.55px;
  margin-bottom: 71px; }

.greeting__form {
  text-align: center; }

.greeting__formHeading {
  font-size: 1.25rem;
  color: white;
  letter-spacing: -0.31px;
  margin-bottom: 43px; }

.searchForm {
  display: inline-block;
  -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15); }

.searchForm__inputCityDeparture, .searchForm__inputCityArrive, .searchForm__inputDate, .searchForm__inputQuantity {
  text-align: initial;
  float: left;
  background: white;
  -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  padding: 10px 18px 14px 16px; }

.searchForm__inputCityDeparture-text, .searchForm__inputCityArrive-text, .searchForm__inputDate-text, .searchForm__inputQuantity-text {
  font-size: 0.813rem;
  color: dimgray;
  font-weight: 300;
  margin-bottom: 11px; }

.searchForm__inputCityDeparture-inputText, .searchForm__inputCityArrive-inputText, .searchForm__inputDate-inputDay {
  width: 158px;
  height: 13px;
  font-size: 1rem;
  color: black;
  border: none;
  outline: none; }
  .searchForm__inputCityDeparture-inputText::-webkit-input-placeholder, .searchForm__inputCityArrive-inputText::-webkit-input-placeholder, .searchForm__inputDate-inputDay::-webkit-input-placeholder {
    color: #2c2c2c; }
  .searchForm__inputCityDeparture-inputText::-moz-placeholder, .searchForm__inputCityArrive-inputText::-moz-placeholder, .searchForm__inputDate-inputDay::-moz-placeholder {
    color: #2c2c2c; }
  .searchForm__inputCityDeparture-inputText:-moz-placeholder, .searchForm__inputCityArrive-inputText:-moz-placeholder, .searchForm__inputDate-inputDay:-moz-placeholder {
    color: #2c2c2c; }
  .searchForm__inputCityDeparture-inputText:-ms-input-placeholder, .searchForm__inputCityArrive-inputText:-ms-input-placeholder, .searchForm__inputDate-inputDay:-ms-input-placeholder {
    color: #2c2c2c; }

.searchForm__inputCityDeparture-iconArrow, .searchForm__inputDate-iconArrow {
  float: right; }

.searchForm__inputCityArrive, .searchForm__inputDate, .searchForm__inputQuantity {
  -webkit-border-radius: 0;
          border-radius: 0;
  padding-right: 20px;
  padding-left: 11px; }

.searchForm__inputCityArrive-inputText {
  width: 207px; }

.searchForm__inputCityArrive-iconReset {
  position: relative;
  top: -3px; }

.searchForm__inputDate {
  padding-right: 11px;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1; }
  .searchForm__inputDate .wrap_there {
    float: left; }
  .searchForm__inputDate .wrap_back {
    float: left; }

.searchForm__inputDate-inputDay {
  width: 92px; }

.searchForm__inputDate-iconArrow {
  margin-right: 19px; }

.searchForm__inputDate-iconCalendar {
  float: right; }

.searchForm__inputQuantity {
  padding-right: 10px;
  padding-bottom: 9px; }

.searchForm__inputQuantity-iconPerson {
  position: relative;
  top: -2px;
  margin-right: 3px; }

.searchForm__inputQuantity-inputNumber {
  width: 151px;
  font-size: 0.938rem;
  color: #2c2c2c;
  border: none;
  outline: none; }

.searchForm__buttonFind {
  background: #ffc816;
  -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
  padding: 25px 27px 25px 38px; }

.searchForm__buttonFind-text {
  font-size: 0.813rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 17px;
  letter-spacing: 1.32px; }

.icon.searchForm__buttonFind-iconEnter {
  float: right;
  margin-top: 3px; }

.greeting__socials {
  float: right; }

.greeting__services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px; }

.greeting__services-item {
  margin: 0 41px; }
  .greeting__services-item .icon {
    float: left; }

.greeting__services-itemIconTicket {
  margin-right: 7px;
  position: relative;
  top: -7px;
  margin-bottom: -4px; }

.greeting__services-itemIconResidence {
  margin-right: 9px;
  position: relative;
  top: -4px; }

.greeting__services-itemIconTransfer {
  margin-right: 11px;
  position: relative;
  top: -2px; }

.greeting__services-itemIconInsurance {
  margin-right: 10px;
  position: relative;
  top: -2px; }

.greeting__services-itemIconReport {
  margin-right: 8px;
  position: relative;
  top: -2px; }

.greeting__services-itemText {
  font-size: 0.938rem;
  color: white;
  display: inline-block; }

.icon {
  font-size: 10px; }

.icon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../img/svg-sprite.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 21.4em 33.1em;
          background-size: 21.4em 33.1em; }

.no-svg .icon:before {
  background-image: url("../img/svg-sprite.png"); }

.icon.greeting__header-entranceButton-iconEnter:before {
  background-position: -0.2em -0.2em;
  width: 1.3em;
  height: 0.7em; }

.icon.greeting__header-entranceIconLogin:before {
  background-position: -0.2em -1.3em;
  width: 1.3em;
  height: 1.3em; }

.icon.greeting__header-infoIconPhone:before {
  background-position: -0.2em -3em;
  width: 1.2em;
  height: 1.2em; }

.icon.greeting__header-logoLink-icon:before {
  background-position: -0.2em -4.6000000000000005em;
  width: 21em;
  height: 5.7em; }

.icon.greeting__services-itemIconInsurance:before {
  background-position: -0.2em -10.7em;
  width: 1.8em;
  height: 2.1em; }

.icon.greeting__services-itemIconReport:before {
  background-position: -0.2em -13.2em;
  width: 1.5em;
  height: 1.9em; }

.icon.greeting__services-itemIconResidence:before {
  background-position: -0.2em -15.5em;
  width: 2.2em;
  height: 2.1em; }

.icon.greeting__services-itemIconTicket:before {
  background-position: -0.2em -18em;
  width: 2.7em;
  height: 2.5em; }

.icon.greeting__services-itemIconTransfer:before {
  background-position: -0.2em -20.9em;
  width: 2.3em;
  height: 1.8em; }

.icon.searchForm__buttonFind-iconEnter:before {
  background-position: -0.2em -23.099999999999998em;
  width: 0.7em;
  height: 1.1em; }

.icon.searchForm__inputCityDeparture-iconArrow:before, .icon.searchForm__inputDate-iconArrow:before {
  background-position: -0.2em -24.599999999999998em;
  width: 2.2em;
  height: 1.5em; }

.icon.searchForm__inputCityDeparture-iconReset:before, .icon.searchForm__inputCityArrive-iconReset:before {
  background-position: -0.2em -26.5em;
  width: 1em;
  height: 1em; }

.icon.searchForm__inputDate-iconCalendar:before {
  background-position: -0.2em -27.9em;
  width: 1.6em;
  height: 1.6em; }

.icon.searchForm__inputQuantity-iconDown:before {
  background-position: -0.2em -29.9em;
  width: 1.4em;
  height: 0.8em; }

.icon.searchForm__inputQuantity-iconPerson:before {
  background-position: -0.2em -31.099999999999998em;
  width: 0.8em;
  height: 1.8em; }

@media (min-width: 1280px) {
  .container {
    width: 1240px;
    padding: 0; } }

@media (min-width: 1200px) and (max-width: 1279px) {
  .greeting__header-logoLink {
    margin-right: 106px; }
  .greeting__header-menu {
    margin-right: 40px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .greeting__header-logoLink {
    margin-right: 69px; }
  .greeting__header-menu {
    margin-right: 0; }
  .searchForm {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .searchForm__inputCityDeparture, .searchForm__inputCityArrive, .searchForm__inputDate, .searchForm__inputQuantity {
    -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15); }
  .searchForm__inputQuantity {
    -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0; }
  .searchForm__buttonFind {
    margin-top: 32px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1); }
  .greeting__services-item {
    margin: 0 23px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .greeting__header-logoLink {
    margin-top: 12px;
    margin-right: 17px; }
  .greeting__header-logoLink-icon {
    font-size: 0.45rem; }
  .greeting__header-menu {
    margin-top: 28px;
    margin-right: 0; }
  .navbar-nav > li > a, .nav > li > a {
    padding: 0 14px; }
  .greeting__header-menuItem-link {
    font-size: 0.813rem; }
  .greeting__header-entrance {
    padding-top: 21px;
    padding-bottom: 25px; }
  .greeting__presentationText {
    margin-top: 75px;
    font-size: 0.815rem;
    letter-spacing: 3.1px; }
  .greeting__presentationHeading {
    font-size: 3.125rem;
    letter-spacing: 11.8px;
    margin-bottom: 40px; }
  .greeting__formHeading {
    font-size: 1.125rem;
    margin-bottom: 27px; }
  .searchForm {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%; }
  .searchForm__inputCityDeparture, .searchForm__inputCityArrive, .searchForm__inputDate, .searchForm__inputQuantity {
    -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 5px 0 0 0;
            border-radius: 5px 0 0 0;
    margin-bottom: 2px;
    width: 50%;
    padding-right: 1px; }
  .searchForm__inputCityArrive, .searchForm__inputDate, .searchForm__inputQuantity {
    -webkit-border-radius: 0 5px 0 0;
            border-radius: 0 5px 0 0;
    width: 50%;
    padding-left: 25px;
    padding-right: 12px; }
  .searchForm__inputCityArrive-iconReset {
    float: right;
    top: inherit;
    bottom: -3px; }
  .searchForm__inputDate {
    -webkit-border-radius: 0 0 0 5px;
            border-radius: 0 0 0 5px;
    width: 50%;
    padding: 10px 16px 14px; }
    .searchForm__inputDate .wrap_there, .searchForm__inputDate .wrap_back {
      width: 50%; }
    .searchForm__inputDate .searchForm__inputDate-iconArrow {
      margin-right: 0; }
    .searchForm__inputDate .wrap_back {
      padding-left: 55px; }
  .searchForm__inputQuantity {
    -webkit-border-radius: 0 0 5px 0;
            border-radius: 0 0 5px 0;
    margin-left: 2px;
    width: -webkit-calc(50% - 2px);
    width: calc(50% - 2px);
    padding-right: 0; }
  .searchForm__inputQuantity-inputNumber {
    width: -webkit-calc(100% - 22px);
    width: calc(100% - 22px); }
  .searchForm__buttonFind {
    margin-top: 30px;
    width: 275px;
    height: 50px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    vertical-align: middle; }
  .searchForm__buttonFind-text {
    margin-right: 0; }
  .searchForm__buttonFind-text.visible-sm {
    display: inline !important; }
  .searchForm__buttonFind-iconEnter {
    float: inherit !important;
    margin-top: 0 !important;
    margin-left: 27px;
    position: relative;
    top: -2px; }
  .greeting__services-item {
    margin: 0 10px; } }
