footer.footer
  .footerTop
    .container
      .footerTop__item
        ul.footerTop__item-list
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Личный кабинет
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Служба поддержки
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Пользовательское соглашение
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Партнерская программа
        // /.footerTop__item-list
      // /.footerTop__item
      .footerTop__item
        h5.footerTop__item-heading Гостям
        ul.footerTop__item-list
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Как бронировать жильё
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Гарантия заселения
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Отзывы
        // /.footerTop__item-list
      // /.footerTop__item
      .footerTop__item
        h5.footerTop__item-heading Арендодателям
        ul.footerTop__item-list
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Как начать сдавать жильё
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Предложить недвижимость
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Помощь
        // /.footerTop__item-list
      // /.footerTop__item
      .footerTop__item
        h5.footerTop__item-heading О компании
        ul.footerTop__item-list
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') О ГАН
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Вакансии
          li.footerTop__item-listItem
            a.footerTop__item-listItemLink(href='#') Контакты
        // /.footerTop__item-list
      // /.footerTop__item
    // /.container
  // /.footerTop
  hr.footer__greyLine
  .footerBottom
    .container
      p.footerBottom-text © 2011—2017. Гипермаркет аренды недвижимости
      .footerBottom__socials
        a.wrapper(href='https://twitter.com/' title='https://twitter.com/' target='_blank')
          span.icon.footerBottom__socials-iconTwitter
        a.wrapper(href='https://ru-ru.facebook.com/' title='https://ru-ru.facebook.com/' target='_blank')
          span.icon.footerBottom__socials-iconFacebook
        a.wrapper(href='https://plus.google.com/' title='https://plus.google.com/' target='_blank')
          span.icon.footerBottom__socials-iconGooglePlus
        a.wrapper(href='https://www.instagram.com/' title='https://www.instagram.com/' target='_blank')
          span.icon.footerBottom__socials-iconInstagram
      // /.footerBottom__socials
      p.footerBottom-text Создание и разработка сервиса: Название
    // /.container
  // /.footerBottom
// /.footer