.anyDevice
  background: url(../img/anyDevice-bg.jpg)
  background-size: cover
  background-position: center
  padding-top: 222px
  padding-bottom: 279px
  position: relative

//.smartphone-bg
  background: url(../img/smartphone.svg) no-repeat 279px 136px
  position: absolute
  width: 100%
  height: 430px

.anyDevice__heading
  font-size: 3.188rem
  font-weight: 500
  color: $white
  float: right
  margin-right: 68px
  margin-bottom: 51px

.anyDevice__text
  width: 552px
  font-size: 1.25rem
  color: $white
  float: right
  clear: both
  margin-right: 37px
  margin-bottom: 73px
  line-height: 31px

.anyDevice__buttonStart
  @extend .complex__buttonStart
  padding: 17px 29px 17px 39px
  float: right
  clear: both
  margin-right: 274px
  margin-top: 0

.anyDevice__buttonStart-text
  @extend .complex__buttonStart-text

.anyDevice__buttonStart-iconEnter
  @extend .complex__buttonStart-iconEnter