@media (min-width: 1280px)
  .container
    width: 1240px
    padding: 0



@media (min-width: 1200px) and (max-width: 1279px)
  .greeting__header-logoLink
    margin-right: 106px

  .greeting__header-menu
    margin-right: 40px

  .steps__itemsLine
    width: 880px

  .eventually__banner
    width: 662px

  .anyDevice__buttonStart
    margin-top: 0

  .articles__item_big
    img
      width: 563px

  .articles__item_big-heading
    font-size: 1.9rem

  .articles__item_small
    width: 275px

    img
      width: 275px
      height: 265px



@media (min-width: 992px) and (max-width: 1199px)
  .greeting__header-logoLink
    margin-right: 69px

  .greeting__header-menu
    margin-right: 0

  .searchForm
    box-shadow: none

  .searchForm__inputCityDeparture
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15)

  .searchForm__inputQuantity
    border-radius: 0 5px 5px 0

  .searchForm__buttonFind
    margin-top: 32px
    border-radius: 5px
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1)

  .greeting__services-item
    margin: 0 23px

  .benefits__item-text
    font-size: 0.85rem

  .steps__itemsLine
    width: 700px

  .steps__item-text
    font-size: 0.95rem

  .steps__item-link
    font-size: 0.75rem

  .eventually .col-md-12
    padding: 0 15px

  .eventually__banner
    width: 100%
    margin-bottom: 73px

  .eventually__listHeading, .eventually__list
    margin-left: 112px

  .anyDevice__buttonStart
    margin-top: 0

  .cooperation__heading
    font-size: 1.96rem

  .cooperation__item-text
    font-size: 0.8rem

  .articles__itemsWrap
    float: none
    width: 613px
    margin: 0 auto

  .articles__buttonMore
    margin-top: 48px

  .articles__item_big
    &:nth-child(2)
      margin-left: 0



@media (min-width: 768px) and (max-width: 991px)
  .greeting__header-logoLink
    margin-top: 12px
    margin-right: 17px

  .greeting__header-logoLink-icon
    font-size: 0.45rem

  .greeting__header-menu
    margin-top: 28px
    margin-right: 0

  .navbar-nav>li>a, .nav>li>a
    padding: 0 14px

  .greeting__header-menuItem-link
    font-size: 0.813rem

  .greeting__header-entrance
    padding-top: 21px
    padding-bottom: 25px

  .greeting__presentationText
    margin-top: 75px
    font-size: 0.815rem
    letter-spacing: 3.1px

  .greeting__presentationHeading
    font-size: 3.125rem
    letter-spacing: 11.8px
    margin-bottom: 40px

  .greeting__formHeading
    font-size: 1.125rem
    margin-bottom: 27px

  .searchForm
    box-shadow: none
    width: 100%

  .searchForm__inputCityDeparture
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15)
    border-radius: 5px 0 0 0
    margin-bottom: 2px
    width: 50%
    padding-right: 1px

  .searchForm__inputCityArrive
    border-radius: 0 5px 0 0
    width: 50%
    padding-left: 25px
    padding-right: 12px

  .searchForm__inputCityArrive-iconReset
    float: right
    top: inherit
    bottom: -3px

  .searchForm__inputDate
    border-radius: 0 0 0 5px
    width: 50%
    padding: 10px 16px 14px

    .wrap_there, .wrap_back
      width: 50%

    .searchForm__inputDate-iconArrow
      margin-right: 0

    .wrap_back
      padding-left: 55px

  .searchForm__inputQuantity
    border-radius: 0 0 5px 0
    margin-left: 2px
    width: calc(50% - 2px)
    padding-right: 0

  .searchForm__inputQuantity-inputNumber
    width: calc(100% - 22px)

  .searchForm__buttonFind
    margin-top: 30px
    width: 275px
    height: 50px
    border-radius: 3px
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1)
    padding: 0
    vertical-align: middle

  .searchForm__buttonFind-text
    margin-right: 0

  .searchForm__buttonFind-text.visible-sm
    display: inline !important

  .searchForm__buttonFind-iconEnter
    float: inherit !important
    margin-top: 0 !important
    margin-left: 27px
    position: relative
    top: -2px

  .greeting__services
    display: block
    margin-bottom: 72px

  .greeting__services-item
    display: inline-block
    margin: 0

  .greeting__services-itemIconTicket
    margin-left: 73px
    margin-bottom: 19px

  .greeting__services-itemIconResidence
    margin-left: 78px

  .greeting__services-itemIconTransfer
    margin-left: 76px

  .greeting__services-itemIconInsurance
    margin-left: 188px

  .greeting__services-itemIconReport
    margin-left: 53px

  .benefits
    padding-top: 83px
    padding-bottom: 43px

  .benefits__heading
    margin-bottom: 67px
    letter-spacing: -0.82px

  .benefits__itemsWrap
    display: inline-block

  .benefits__item
    display: inline-block
    margin-bottom: 66px

    .icon
      font-size: 8px

  .benefits__item-text
    margin-top: 22px

  .steps
    padding-top: 86px
    padding-bottom: 89px

  .steps__heading
    font-size: 2.058rem
    margin-bottom: 54px

  .steps__itemsLine
    width: 0
    height: 255px
    float: left
    margin: 0
    border-bottom: none
    border-right: 2px dashed $mediumOrange
    position: static
    left: 0
    padding-top: 0
    padding-left: 17px
    margin-left: 73px

  .steps__itemsWrap
    display: block
    align-items: inherit
    justify-content: inherit
    left: -19px
    margin-right: -19px
    top: 0
    margin-bottom: 0
    text-align: initial

  .steps__item
    width: inherit
    height: 37px
    margin-bottom: 47px

    &:nth-child(1)
      margin-left: 0
    &:nth-child(4)
      height: 67px
      margin-bottom: 0

  .steps__item-number
    float: left
    margin-bottom: 0
    margin-right: 40px

  .steps__item-text
    margin-bottom: 0
    padding-top: 8px
    float: left

    &:nth-child(2)
      float: none

  .steps__item-link
    float: left
    margin-top: 20px

  .eventually
    padding-top: 99px
    padding-bottom: 77px

  .eventually__heading
    font-size: 2.058rem
    margin-bottom: 59px

  .eventually .col-sm-12
    padding: 0 15px

  .eventually__banner
    width: 100%
    margin-bottom: 73px

  .eventually__listHeading
    margin-bottom: 44px
    margin-left: 55px

  .eventually__list
    margin-left: 55px

  .eventually__list-item
    line-height: 24px
    margin-bottom: 34px

  .formalization
    padding-top: 79px
    padding-bottom: 62px

  .formalization__heading
    font-size: 2.058rem
    margin-bottom: 24px

  .formalization__text
    margin-bottom: 55px

  .anyDevice
    padding-top: 131px
    padding-bottom: 138px

  .anyDevice__heading
    font-size: 2.5rem
    margin-right: 8px
    margin-bottom: 34px
    line-height: 46px

  .anyDevice__text
    font-size: 0.938rem
    width: 415px
    margin-right: 0
    margin-bottom: 38px
    line-height: 27px

  .anyDevice__buttonStart
    padding: 17px 30px 17px 41px
    width: auto
    height: auto
    margin-right: 100px
    margin-top: 0

  .anyDevice__buttonStart-iconEnter
    margin-left: 17px
    margin-top: 5px !important

  .cooperation
    padding-top: 102px
    padding-bottom: 95px

  .cooperation__heading
    font-size: 2.058rem
    margin-bottom: 72px
    line-height: 42px

  .cooperation__itemsWrap
    display: inline-block

  .cooperation__item
    display: inline-block
    float: left
    width: 358px

  .cooperation__item-text
    margin-bottom: 64px

  .cooperation__buttonStart
    margin-right: 0

  .articles
    padding-top: 99px

  .anyDevice__heading
    font-size: 2.058rem
    margin-bottom: 30px

  .anyDevice__text
    font-size: 1.125rem
    margin-bottom: 61px

  .articles__item_big




@media (max-width: 767px)
  body
    min-width: 320px

  .greeting__header-logoLink
    margin: 13px 0 0 0

  .greeting__header-logoLink-icon
    font-size: 5.2px

  .greeting__header-button
    margin: 10px 0

  .navbar-toggle .icon-bar
    width: 30px
    height: 4px
    background: $black

  .greeting__presentationText
    margin-top: 53px
    font-size: 0.627rem
    letter-spacing: 2.4px
    margin-bottom: 12px

  .greeting__presentationHeading
    font-size: 1.563rem
    letter-spacing: 5.85px
    margin-bottom: 27px

  .greeting__formHeading
    font-size: 0.813rem
    margin-bottom: 20px
    letter-spacing: 0.08px

  .searchForm
    box-shadow: none

  .searchForm__inputCityDeparture
    width: 283px
    padding: 10px 11px 15px 13px
    border-radius: 5px 5px 0 0
    margin-bottom: 2px
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15)

  .searchForm__inputCityDeparture-iconReset
    float: right
    margin-top: 3px

  .searchForm__inputCityArrive
    border-radius: 0

  .searchForm__inputCityArrive-iconReset
    margin-top: 5px

  .searchForm__inputDate
    padding-right: 8px

  .wrap_there, .wrap_back
    width: 50%

  .searchForm__inputDate-iconArrow
    margin-right: 14px

  .wrap_back
    padding-left: 15px

  .searchForm__inputQuantity
    border-radius: 0 0 5px 5px
    padding-right: 0
    padding-bottom: 10px

  .searchForm__inputQuantity-inputNumber
    width: calc(100% - 22px)

  .searchForm__buttonFind
    margin-top: 9px
    width: 283px
    height: 50px
    border-radius: 3px
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1)
    padding: 0
    vertical-align: middle

  .searchForm__buttonFind-text
    margin-right: 0

  .searchForm__buttonFind-text.visible-sm
    display: inline !important

  .searchForm__buttonFind-iconEnter
    float: inherit !important
    margin-top: 0 !important
    margin-left: 27px
    position: relative
    top: -2px

  .greeting__services
    display: block
    margin: 21px auto 41px
    width: 283px

  .greeting__services-item
    display: inline-block
    margin: 0

  .greeting__services-itemIconTicket
    margin-left: 0
    margin-bottom: 15px

  .greeting__services-itemIconResidence
    margin-left: 28px

  .greeting__services-itemIconTransfer
    margin: 0 10px 17px 1px

  .greeting__services-itemIconInsurance
    margin-left: 73px
    margin-right: 11px

  .greeting__services-itemIconReport
    margin-left: 6px
    margin-right: 13px

  .greeting__services-itemText
    font-size: 0.813rem

  .benefits
    padding-top: 58px
    padding-bottom: 65px

  .benefits__heading
    font-size: 1.125rem
    letter-spacing: 0.55px
    margin-bottom: 35px

  .benefits__itemsWrap
    display: inline-block

  .benefits__item
    display: inline-block
    width: 141px
    margin-bottom: 40px

    .icon
      font-size: 6px

  .benefits__item-text
    font-size: 0.699rem
    margin-top: 15px
    letter-spacing: 0.08px
    line-height: 13px

  .steps
    padding-top: 59px
    padding-bottom: 83px

  .steps__heading
    font-size: 1.125rem
    font-weight: 500
    margin-bottom: 38px

  .wrapper
    display: inline-block

  .steps__itemsLine
    width: 0
    height: 250px
    float: left
    margin: 35px 0 0 0
    border-bottom: none
    border-right: 2px dashed $mediumOrange
    position: static
    left: 0
    padding-top: 0
    padding-left: 17px

  .steps__itemsWrap
    display: block
    align-items: inherit
    justify-content: inherit
    left: -19px
    margin-right: -19px
    top: 0
    margin-bottom: 0
    text-align: initial
    width: 281px

  .steps__item
    width: initial
    height: 50px
    margin-bottom: 44px

    &:nth-child(1)
      margin-left: 0
    &:nth-child(4)
      height: 110px
      margin-bottom: 0

  .steps__item-number
    float: left
    margin-bottom: 0
    margin-right: 24px

  .steps__item-text
    margin-bottom: 0
    padding-top: 8px
    float: left
    font-size: 0.905rem

    &:nth-child(2)
      float: none
      overflow: hidden

  .steps__item-link
    float: left
    margin-top: 20px
    font-size: 0.72rem

  .eventually
    padding-top: 45px
    padding-bottom: 29px

  .eventually__heading
    font-size: 1.125rem
    font-weight: 500
    margin-bottom: 42px

  .eventually .col-xs-12
    padding: 0 15px

  .eventually__banner
    width: 100%
    height: 414px
    margin-bottom: 56px

  .eventually__listHeading
    margin-bottom: 42px

  .eventually__list-item
    font-size: 0.938rem
    line-height: 19px
    margin-bottom: 34px

  .formalization
    padding-top: 37px
    padding-bottom: 45px

  .formalization__heading
    font-size: 1.125rem
    font-weight: 500
    margin-bottom: 19px
    line-height: 24px

  .formalization__text
    font-size: 0.813rem
    margin-bottom: 32px
    line-height: 18px

  .anyDevice
    padding-top: 72px
    padding-bottom: 130px
    text-align: center
    //background-size: 429%
    //background-position: 32% 24%
    background-position: 31% 47%
    background-size: auto

  .anyDevice__heading
    font-size: 1.688rem
    line-height: 30px
    float: none
    margin-right: 0
    margin-bottom: 32px

  .anyDevice__text
    width: 281px
    margin: 0 auto 58px
    text-align: center
    font-size: 0.875rem
    float: none
    line-height: 22px

  .anyDevice__buttonStart
    padding: 17px 13px 17px 23px
    width: auto
    height: auto
    margin: 0
    float: none

  .anyDevice__buttonStart-iconEnter
    margin-left: 17px
    margin-top: 5px !important

  .cooperation
    padding-top: 64px
    padding-bottom: 66px

  .cooperation__heading
    font-size: 1.125rem
    line-height: 25px
    margin-bottom: 43px

  .cooperation__itemsWrap
    width: 100%

  .cooperation__item
    width: auto

  .cooperation__item-text
    margin-top: 24px
    margin-bottom: 47px
    font-size: 0.875rem