@media (min-width: 1280px)
  .container
    width: 1240px
    padding: 0



@media (min-width: 1200px) and (max-width: 1279px)
  .greeting__header-logoLink
    margin-right: 106px

  .greeting__header-menu
    margin-right: 40px



@media (min-width: 992px) and (max-width: 1199px)
  .greeting__header-logoLink
    margin-right: 69px

  .greeting__header-menu
    margin-right: 0

  .searchForm
    box-shadow: none

  .searchForm__inputCityDeparture
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15)


  .searchForm__inputQuantity
    border-radius: 0 5px 5px 0

  .searchForm__buttonFind
    margin-top: 32px
    border-radius: 5px
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1)

  .greeting__services-item
    margin: 0 23px

  .benefits__item-text
    font-size: 0.85rem



@media (min-width: 768px) and (max-width: 991px)
  .greeting__header-logoLink
    margin-top: 12px
    margin-right: 17px

  .greeting__header-logoLink-icon
    font-size: 0.45rem

  .greeting__header-menu
    margin-top: 28px
    margin-right: 0

  .navbar-nav>li>a, .nav>li>a
    padding: 0 14px

  .greeting__header-menuItem-link
    font-size: 0.813rem

  .greeting__header-entrance
    padding-top: 21px
    padding-bottom: 25px

  .greeting__presentationText
    margin-top: 75px
    font-size: 0.815rem
    letter-spacing: 3.1px

  .greeting__presentationHeading
    font-size: 3.125rem
    letter-spacing: 11.8px
    margin-bottom: 40px

  .greeting__formHeading
    font-size: 1.125rem
    margin-bottom: 27px

  .searchForm
    box-shadow: none
    width: 100%

  .searchForm__inputCityDeparture
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15)
    border-radius: 5px 0 0 0
    margin-bottom: 2px
    width: 50%
    padding-right: 1px

  .searchForm__inputCityArrive
    border-radius: 0 5px 0 0
    width: 50%
    padding-left: 25px
    padding-right: 12px

  .searchForm__inputCityArrive-iconReset
    float: right
    top: inherit
    bottom: -3px

  .searchForm__inputDate
    border-radius: 0 0 0 5px
    width: 50%
    padding: 10px 16px 14px

    .wrap_there, .wrap_back
      width: 50%

    .searchForm__inputDate-iconArrow
      margin-right: 0

    .wrap_back
      padding-left: 55px

  .searchForm__inputQuantity
    border-radius: 0 0 5px 0
    margin-left: 2px
    width: calc(50% - 2px)
    padding-right: 0

  .searchForm__inputQuantity-inputNumber
    width: calc(100% - 22px)

  .searchForm__buttonFind
    margin-top: 30px
    width: 275px
    height: 50px
    border-radius: 3px
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1)
    padding: 0
    vertical-align: middle

  .searchForm__buttonFind-text
    margin-right: 0

  .searchForm__buttonFind-text.visible-sm
    display: inline !important

  .searchForm__buttonFind-iconEnter
    float: inherit !important
    margin-top: 0 !important
    margin-left: 27px
    position: relative
    top: -2px

  .greeting__services
    display: block
    margin-bottom: 72px

  .greeting__services-item
    display: inline-block
    margin: 0

  .greeting__services-itemIconTicket
    margin-left: 73px
    margin-bottom: 19px

  .greeting__services-itemIconResidence
    margin-left: 78px

  .greeting__services-itemIconTransfer
    margin-left: 76px

  .greeting__services-itemIconInsurance
    margin-left: 188px

  .greeting__services-itemIconReport
    margin-left: 53px

  .benefits
    padding-top: 83px
    padding-bottom: 43px

  .benefits__heading
    margin-bottom: 67px
    letter-spacing: -0.82px

  .benefits__itemsWrap
    display: inline-block

  .benefits__item
    display: inline-block
    margin-bottom: 66px

    .icon
      font-size: 8px

  .benefits__item-text
    margin-top: 22px


@media (max-width: 767px)
  body
    min-width: 320px

  .greeting__header-logoLink
    margin: 13px 0 0 0

  .greeting__header-logoLink-icon
    font-size: 5.2px

  .greeting__header-button
    margin: 10px 0

  .navbar-toggle .icon-bar
    width: 30px
    height: 4px
    background: $black

  .greeting__presentationText
    margin-top: 53px
    font-size: 0.627rem
    letter-spacing: 2.4px
    margin-bottom: 12px

  .greeting__presentationHeading
    font-size: 1.563rem
    letter-spacing: 5.85px
    margin-bottom: 27px

  .greeting__formHeading
    font-size: 0.813rem
    margin-bottom: 20px
    letter-spacing: 0.08px

  .searchForm
    box-shadow: none

  .searchForm__inputCityDeparture
    width: 283px
    padding: 10px 11px 15px 13px
    border-radius: 5px 5px 0 0
    margin-bottom: 2px
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.15)

  .searchForm__inputCityDeparture-iconReset
    float: right
    margin-top: 3px

  .searchForm__inputCityArrive
    border-radius: 0

  .searchForm__inputCityArrive-iconReset
    margin-top: 5px

  .searchForm__inputDate
    padding-right: 8px

  .wrap_there, .wrap_back
    width: 50%

  .searchForm__inputDate-iconArrow
    margin-right: 14px

  .wrap_back
    padding-left: 15px

  .searchForm__inputQuantity
    border-radius: 0 0 5px 5px
    padding-right: 0
    padding-bottom: 10px

  .searchForm__inputQuantity-inputNumber
    width: calc(100% - 22px)

  .searchForm__buttonFind
    margin-top: 9px
    width: 283px
    height: 50px
    border-radius: 3px
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1)
    padding: 0
    vertical-align: middle

  .searchForm__buttonFind-text
    margin-right: 0

  .searchForm__buttonFind-text.visible-sm
    display: inline !important

  .searchForm__buttonFind-iconEnter
    float: inherit !important
    margin-top: 0 !important
    margin-left: 27px
    position: relative
    top: -2px

  .greeting__services
    display: block
    margin: 21px auto 41px
    width: 283px

  .greeting__services-item
    display: inline-block
    margin: 0

  .greeting__services-itemIconTicket
    margin-left: 0
    margin-bottom: 15px

  .greeting__services-itemIconResidence
    margin-left: 28px

  .greeting__services-itemIconTransfer
    margin: 0 10px 17px 1px

  .greeting__services-itemIconInsurance
    margin-left: 73px
    margin-right: 11px

  .greeting__services-itemIconReport
    margin-left: 6px
    margin-right: 13px

  .greeting__services-itemText
    font-size: 0.813rem

  .benefits
    padding-top: 58px
    padding-bottom: 65px

  .benefits__heading
    font-size: 1.125rem
    letter-spacing: 0.55px
    margin-bottom: 35px

  .benefits__itemsWrap
    display: inline-block

  .benefits__item
    display: inline-block
    width: 141px
    margin-bottom: 40px

    .icon
      font-size: 6px

  .benefits__item-text
    font-size: 0.699rem
    margin-top: 15px
    letter-spacing: 0.08px
    line-height: 13px