.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/_svg-sprite.svg");
    background-repeat: no-repeat;
    background-size: 21em 5.7em;
}

.no-svg .icon:before {
    background-image: url("../img/_svg-sprite.png");
}



  .icon.logo:before {
      background-position: 0em 0em;
      width: 21em;
      height: 5.7em;
  }





