section.anyDevice
  .container
    h2.anyDevice__heading
      | Сервис доступен
      br
      | на любом устройстве
    p.anyDevice__text
      | Будь то мобильные устройства, планшеты или ноутбуки — вы всегда сможете найти информацию о заказе или получить
      | онлайн-поддержку, даже в дороге!
    a.anyDevice__buttonStart(href='#')
      span.anyDevice__buttonStart-text Начать работу с сервисом
      span.icon.anyDevice__buttonStart-iconEnter
  // /.container
// /.anyDevice