section.articles
  .container
    h3.articles__heading Будьте в курсе последних новостей из мира деловых путешествий!
    p.articles__text В наших статьях вы найдете только самые полезные советы и рекомендации
    .articles__itemsWrap
      article.articles__item_big
        img.articles__item_big-imgPlane(src='img/articles__item_big-imgPlane.jpg' alt='Plane')
        a.articles__item_big-heading(href='#') Топ-10 направлений из Киева куда угодно от&nbsp;46 евро!
      // /.articles__item_big
      article.articles__item_big
        img.articles__item_big-imgWoman(src='img/articles__item_big-imgWoman.jpg' alt='Woman')
        a.articles__item_big-heading(href='#')
          | airBaltic: предлагает сыграть в&nbsp;игру "Яйца&nbsp;или самолеты" и выиграть 2...
      // /.articles__item_big
      article.articles__item_big.visible-md.visible-sm.visible-xs
        img.articles__item_big-imgPlane(src='img/articles__item_big-imgPlane.jpg' alt='Plane')
        a.articles__item_big-heading(href='#') Топ-10 направлений из Киева куда угодно от&nbsp;46 евро!
      // /.articles__item_big
      article.articles__item_big.visible-md.visible-sm.visible-xs
        img.articles__item_big-imgWoman(src='img/articles__item_big-imgWoman.jpg' alt='Woman')
        a.articles__item_big-heading(href='#')
          | airBaltic: предлагает сыграть в&nbsp;игру "Яйца&nbsp;или самолеты" и выиграть 2...
      // /.articles__item_big
      article.articles__item_small.visible-lg
        img.articles__item_small-imgMan(src='img/articles__item_small-imgMan.jpg' alt='Man')
        p.articles__item_small-textDate 17.02.2017
        a.articles__item_small-textDescription(href='#')
          | Travelplanet: пакетный тур из Варшавы&nbsp;на Острова Зелёного Мыса (Кабо-Верде) за 758 евро на одного "всё включено"!
      // /.articles__item_small
      article.articles__item_small.visible-lg
        img.articles__item_small-imgClothes(src='img/articles__item_small-imgClothes.jpg' alt='Clothes')
        p.articles__item_small-textDate 17.02.2017
        a.articles__item_small-textDescription(href='#')
          | Подборка вылетов из Минска: летим в&nbsp;Прагу, Амстердам, Хельсинки, Кутаиси&nbsp;и Тель-Авив от 138 евро за перелет в обе стороны в течение года!
      // /.articles__item_small
      article.articles__item_small.visible-lg
        img.articles__item_small-imgPeople(src='img/articles__item_small-imgPeople.jpg' alt='People')
        p.articles__item_small-textDate 17.02.2017
        a.articles__item_small-textDescription(href='#')
          | airBaltic: предлагает сыграть в игру "Яйца или самолеты" и выиграть 2 билета в Мадрид + промокод внутри!
      // /.articles__item_small
      article.articles__item_small.visible-lg
        img.articles__item_small-imgManAndLaptop(src='img/articles__item_small-imgManAndLaptop.jpg' alt='ManAndLaptop')
        p.articles__item_small-textDate 17.02.2017
        a.articles__item_small-textDescription(href='#')
          | Travelplanet: пакетный тур из Варшавы&nbsp;на Острова Зелёного Мыса (Кабо-Верде) за 758 евро на одного "всё включено"!
      // /.articles__item_small
    // /.articles__itemsWrap
    a.articles__buttonMore(href='#')
      span.articles__buttonMore-text Читать больше статей
      span.icon.articles__buttonMore-iconEnter
  // / .container
// /.articles