section.cooperation
  .container
    h3.cooperation__heading Хотите, чтобы о ваших услугах узнали? Давайте сотрудничать!
    .cooperation__itemsWrap
      .cooperation__item
        span.icon.cooperation__item-iconRegistration
        p.cooperation__item-text
          | Зарегистрируйтесь, указав как
          br
          | можно больше информации о себе
          br
          | — это повысит доверие клиентов.
        // /.cooperation__item-text
      // /.cooperation__item
      .cooperation__item
        span.icon.cooperation__item-iconDescription
        p.cooperation__item-text
          | Разместите свою услугу
          br
          | с подробным описанием
          br
          | и фотографиями.
        // /.cooperation__item-text
      // /.cooperation__item
      .cooperation__item
        span.icon.cooperation__item-iconStar
        p.cooperation__item-text
          | Наши клиенты — ответственные
          br
          | и порядочные люди. Вы можете
          br
          | ознакомиться с историей заказов
          br
          | клиента и его рейтингом.
        // /.cooperation__item-text
      // /.cooperation__item
      .cooperation__item
        span.icon.cooperation__item-iconProfit
        p.cooperation__item-text
          | Получайте выгоду и расширяйте
          br
          | клиентскую базу, благодаря нашему
          br
          | партнерству!
        // /.cooperation__item-text
      // /.cooperation__item
    // /.cooperation__itemsWrap
    button.cooperation__buttonStart
      span.cooperation__buttonStart-text Начать сотрудничество
      span.icon.cooperation__buttonStart-iconEnter
  // /.container
// /.cooperation