section.complex
  .container
    h3.complex__heading Все необходимое в одном сервисе
    p.complex__text
      | Предоставляем услуги как комплексно, так и по отдельности
      br
      | Найдем выгодные предложения по всем категориям
    .complex__itemsWrap
      .complex__item
        span.icon.complex__item-iconPlane
        h5.complex__item-heading Авиа и ж/д билеты
        p.complex__item-text
          | Сравнивайте и покупайте выгодные билеты у
          span.complex__item-text_strong 128 наших авиакомпаний- -&nbsp;партнеров
          |  и поставщиков услуг. Укажите время в пути, количество пересадок, допустимую стоимость и следите за спецпредложениями наших партнеров.
      // /.complex__item
      .complex__item
        span.icon.complex__item-iconResidence
        h5.complex__item-heading Проживание
        p.complex__item-text
          | Среди
          span.complex__item-text_strong 12134458 вариантов размещения,
          |  найдется то, что подойдет именно вам. Подробная информация, реальные фотографии, рейтинг на основе отзывов, скидки и акции — помогут вам быстрее определиться с выбором.
      // /.complex__item
      .complex__item
        span.icon.complex__item-iconTransfer
        h5.complex__item-heading Трансфер
        p.complex__item-text
          | Более
          span.complex__item-text_strong 145872 партнеров
          |  осуществляют все возможные виды трансфера. Огромный выбор автомобилей различного класса и возможность выбрать личного водителя. Все это позволит подобрать вариант на любой вкус.
      // /.complex__item
      .complex__item
        span.icon.complex__item-iconStar
        h5.complex__item-heading Доп. услуги
        p.complex__item-text
          span.complex__item-text_strong Сформируем всю отчетную документацию,
          |  расскажем о транспортной инфраструктуре и погоде, организуем обзорные экскурсии в регионе командировки. Для корпоративных клиентов доступны услуги страхования и многие другие бонусы.
      // /.complex__item
    // /.complex__itemsWrap
    a.complex__buttonStart(href='#')
      span.complex__buttonStart-text Начать бронирование
      span.icon.complex__buttonStart-iconEnter
  // /.container
// /.complex