section.eventually
  .container
    h3.eventually__heading Что вы получаете в итоге
    .row
      .col-lg-7
        .eventually__banner
      .col-lg-5
        h6.eventually__listHeading Полный пакет включает:
        ul.eventually__list
          li.eventually__list-item Напоминание о регистрации на рейс, задержке или отмене рейса;
          li.eventually__list-item
            | Изменение в бронирование (возврат, отмена,
            br
            | добавление услуг);
          li.eventually__list-item Все платежные данные и билеты в&nbsp;едином формате&nbsp;в&nbsp;вашем личном кабинете;
          li.eventually__list-item Страхование на время поездки;
          li.eventually__list-item Отчетная документация для вашей бухгалтерии;
          li.eventually__list-item Сопровождение и поддержка во время всего путешествия.
        // /.eventually__list
  // /.container
// /.eventually