section.formalization
  .container
    h3.formalization__heading Начните оформление поездки
    p.formalization__text Поможем подобрать полный пакет услуг и подготовим все отчеты
    include ../header/__header__searchForm
    include ../header/__header__services
  // /.container
// /.formalization