.benefits
  .container
    h3.benefits__heading В&nbsp;чем наши преимущества?
    .benefits__itemsWrap
      .benefits__item
        span.icon.benefits__item-iconInsurance
        p.benefits__item-text Оформление&nbsp;страховки в&nbsp;поездку
      .benefits__item
        span.icon.benefits__item-iconOnline
        p.benefits__item-text Онлайн-доступ к&nbsp;отчетам&nbsp;и&nbsp;платежам
      .benefits__item
        span.icon.benefits__item-iconSupport
        p.benefits__item-text Круглосуточная&nbsp;служба поддержки
      .benefits__item
        span.icon.benefits__item-iconBooking
        p.benefits__item-text Управление бронированием
      .benefits__item
        span.icon.benefits__item-iconBudget
        p.benefits__item-text Соблюдение рамок&nbsp;бюджета
      .benefits__item
        span.icon.benefits__item-iconProgram
        p.benefits__item-text Программы&nbsp;для корпоративных&nbsp;клиентов
    // /.benefits__itemsWrap
  // /.container
// /.benefits