section.steps
  .container
    h3.steps__heading Оформить заказ — легко!
    .steps__itemsLine
    .steps__itemsWrap
      .steps__item
        p.steps__item-number 1
        p.steps__item-text Укажите&nbsp;ваш&nbsp;маршрут
      .steps__item
        p.steps__item-number 2
        p.steps__item-text Выберите полный пакет услуг или&nbsp;сформируйте свой
      .steps__item
        p.steps__item-number 3
        p.steps__item-text Получите билеты и ваучеры в&nbsp;едином&nbsp;формате на почту
      .steps__item
        p.steps__item-number 4
        p.steps__item-text Скачайте отчетную документацию&nbsp;по&nbsp;командировке
        a.steps__item-link(href='#') (Пример отчетных документов)
    // /.steps__itemWrap
  // /.container
// /.steps